.root {
  display: grid;
  place-items: center;
  align-content: center;
  justify-items: center;
  row-gap: 16px;
  background-color: var(--mui-palette-secondary-main);
  height: 100%;
  color: var(--mui-palette-secondary-contrastText);
}

.title {
  text-align: center;
  font-weight: bold;
}
