{
  "extends": ["stylelint-config-standard", "./stylelint-config-order"],
  "rules": {
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }],
    "value-keyword-case": ["lower", { "ignoreProperties": ["composes"] }]
  }
}
