.root {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(255 255 255 / 5%);
  cursor: default;
  padding: 8px 12px;
}

.icon {
  color: var(--mui-palette-primary-main);
  font-size: 20px;
}

.text {
  color: var(--mui-palette-text-primary);
  font-size: 14px;
  font-weight: 500;
}
