.root {
  position: relative;
  margin: 50px auto;
  border-radius: 8px;
  background-color: black;
  width: 80%;
  aspect-ratio: 16/9;
}

.camera {
  position: absolute;
  z-index: 1;
  width: 100%;
  aspect-ratio: 16/9;
}

.pip .camera {
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.screenshare {
  position: absolute;
  z-index: 0;
  width: 100%;
}
