/*
  Needs to be nested to get a higher specificty
  than MUI icon button styles
 */
.root:global(.MuiIconButton-root) {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  border: 2px solid var(--mui-palette-text-secondary);
  background-color: transparent;
  padding: 0;
  width: 52px;
  height: 52px;

  &:hover {
    background-color: rgba(
      var(--mui-palette-action-activeChannel) /
        var(--mui-palette-action-hoverOpacity)
    );
  }
}

.icon {
  transition: all 300ms ease;
  margin: 3px;
  border-radius: 50%;
  box-shadow: 0 0 24px 8px rgb(var(--mui-palette-primary-mainChannel) / 41%);
  background-color: var(--mui-palette-primary-main);
}
