.root {
  display: grid;
  position: fixed;
  inset: 0;

  /*
  Needs to be nested to get a higher specificty
  than MUI icon button styles
  */
  .recordButton {
    grid-area: 1/1;
    align-self: end;
    justify-self: center;
    margin-bottom: 16px;
  }
}

.camera {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: flex;
  flex-direction: row;
  grid-area: 1/1;
  gap: 8px;
  align-items: end;
  justify-content: end;
  background-image: linear-gradient(
    to top,
    rgb(0 0 0 / 40%),
    rgb(0 0 0 / 0%) 120px
  );
  background-repeat: no-repeat;
  padding: 16px;
  animation: 500ms ease gradient-up;
}

@keyframes gradient-up {
  from {
    background-position-y: 120px;
  }

  to {
    background-position-y: 0;
  }
}
