.root {
  display: grid;
  position: fixed;
  inset: 0;

  /*
  Needs to be nested to get a higher specificty
  than MUI icon button styles
  */
  .recordButton {
    grid-area: 1/1;
    align-self: end;
    justify-self: center;
    margin-bottom: 16px;
  }
}

.camera {
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: flex;
  flex-direction: row;
  grid-area: 1/1;
  gap: 8px;
  align-items: end;
  justify-content: end;
  padding: 16px;
}
