.root {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.companyName {
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}

.companyLogo {
  margin-bottom: -1px;
  font-size: 10px;
}
