.root {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.githubLink {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 8px;
}

.devices {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
