.root {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.devices {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}

.device {
  .select {
    opacity: 0;
    width: 0;
  }

  > svg:nth-of-type(1) {
    cursor: pointer;
  }
}
