html {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
