html {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 56px);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
