#root {
  display: grid;
  position: fixed;
  inset: 0;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: minmax(0, auto);
  justify-content: center;
  row-gap: 24px;
  padding: 24px;
}
