.container {
  width: 80%;
  aspect-ratio: 16/9;
  background-color: black;
  margin: 50px auto;
  border-radius: 8px;
  position: relative;
}

.camera {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.pip .camera {
  bottom: 50px;
  right: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.screenshare {
  position: absolute;
  width: 100%;
  z-index: 0;
}
